body {
  background-color: #ccc;
}

.calc-body {
  background-color: #efefef;
  padding: 15px;
  border-radius: 5px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.calc-display {
  height: 50px;
  background-color: #fefefe;
  border-radius: 10px;
  padding: 15px;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 15px;
  font-size: 18px;
  overflow-x: hidden;
  overflow-y: hidden;
}
.display-frame {
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
}
.full-expression {
  white-space: pre-line;
  font-size: 10px;
  overflow: hidden;
}
.error {
  color: red;
  display: none;
}
.key {
  padding: 5px 0;
  margin: 10px 15px;
  border-radius: 3px;
  background-color: #fafafa;
  border-radius: 3px;
  cursor: default;
  border: none;
}
.key:hover {
  background-color: #fefefe;
}
.key:focus {
  outline: none;
}
