body {
  background-color: #ccc;
}

.calc-body {
  background-color: #efefef;
  padding: 15px;
  border-radius: 5px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.calc-display {
  height: 50px;
  background-color: #fefefe;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
  font-size: 18px;
}
.key {
  padding: 5px 0;
  margin: 10px 18px;
  border-radius: 3px;
  background-color: #fafafa;
  border-radius: 3px;
  cursor: default;
  border: none;
}
.key:hover {
  background-color: #fefefe;
}
.key:focus {
  outline: none;
}
